<h1>User =
  <% if current_user %>
    <%= current_user.name %>
  <% end %>
</h1>
<%= link_to "Log in", login_path, method: :get %>
<%= link_to "Log out", logout_path, method: :delete %>

<div id="app"></div>
