@import url('https://fonts.googleapis.com/css?family=Raleway|Merriweather');;

body {
  background-image: url( asset_path('food-salad-healthy-vegetables-5.jpg') );
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #DDCFB3;
  font-family: 'Raleway', sans-serif;
}

.top-bar {
  color: #FFFBF4;
  background-color: #DDCFB3;
}

.vertical-spacer {
  height: 2em;
}

h1, h2, h3, h4 {
  color: #335032;
  font-family: 'Merriweather', serif;
}

.button {
  background-color: #3B5B5A;
}

.button:hover {
  background-color: #517271;
}

.button:focus {
  background-color: #517271;
}

.title {
  padding-left: 1em;
}

a {
  color: #335032;
}

a:hover {
  color: #517271;
}

a:focus {
  color: #517271;
}

.callout {
  border: none;
  opacity: 0.9;
}

.fa-plus {
  color: white;
}

.background {
  width: 100%;
  filter: grayscale(100%);
  position: relative;
}

#edamam-badge {
  position: fixed;
  bottom: 0.2em;
  right: 0.2em;
}

#recipesearch, #add-recipe-url {
  height: 3.5em;
}

.navigation-menu {
  background-color: #f5f0e8;
  opacity: 0.9;
}

#search-button #show-more {
  font-size: x-large;
}

.add-field {
  color: grey;
}

.list-form {
  margin-bottom: 0.1rem;
}

textarea.list-form {
  height: fit-content;
}

.tile-image-div {
  height: 12em;
  overflow: hidden;
}

.tile-image-div img {
  width: 100%;
}

.recipe-show-image {
  width: 100%;
  overflow: hidden;
}

.recipe-source {
  padding: .5em;
}
